# Игнор файлы для Python
__pycache__

# Игнор файлы build C (C++)
build/
check/
*.o
*.so
*.dll

# Игнор файлы графиков
charts/
images/

# Игнор файлы обработки
*.txt
*.zip

# Исключения
!CMakeLists.txt